* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

/* Header */
header {
    width: 100%;
    background-color: whitesmoke;
    top: 0;
    position: fixed;
    z-index: 100;
}

header .container {
    margin-top: 20px;
    position: relative;
}

.logo {
    width: 55px;
}

.nav-logo {
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 65px;
}

.nav-menu {
    float: right;
    position: relative;
}

nav {
    top: 0;
    float: left;
    display: flex;
}

ul {
    padding: 0;
    margin: 0 auto;
}

nav ul {
    padding: 0 40px;
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
}

nav ul li {
    margin-top: 20px;
    padding: 20px;
    font-size: medium;
    transition: all 0.5s;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
}

.btn-signup {
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0 2px gray;
}

.nav-menu a:hover {
    text-shadow: 0 0 .75px black, 0 0 .75px black;
    /* font-weight: bolder; */
    letter-spacing: 0;
}

.btn-signup:hover {
    background-color: black;
    color: white;
    text-shadow: 0 0 1px white, 0 0 1px white;
    transition: 0.3s;
}

.toggle {
    display: none;
    height: 20px;
    margin: 25px 30px;
    float: right;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.toggle span {
    width: 28px;
    height: 3px;
    display: block;
    border-radius: 10px;
    background-color: #52a89b;
}

.toggle span:nth-child(1) {
    transform-origin: 0 0;
}

.toggle span:nth-child(1).close {
    transform: rotate(45deg) translateY(-8.5px);
}

.toggle span:nth-child(2) {
    transform-origin: 0 100%;
}

.toggle span:nth-child(2).close {
    transform: rotate(-45deg) translateY(8.5px);
}


/* Main Body */
main {
    background-color: whitesmoke;
}

main .container {
    max-width: 1200px;
}

.main-about .container,
.main-signup .container,
.features-wrapper,
footer .container {
    display: flex;
}

/* Main: Heading */
.main-heading {
    margin-top: 100px;
    height: 500px;
}

.main-bg {
    margin: 50px;
    float: right;
}

.bg {
    width: 45vmax;
}

.main-contain {
    margin-top: 110px;
    width: 45%;
    float: left;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

.main-contain p {
    text-align: justify;
    color: rgb(95, 95, 95);
}

/* Main: About */
.main-about {
    background-color: cadetblue;
    padding: 75px;
}

.main-about .container {
    flex-direction: column;
    align-items: center;
}

.main-about .container p {
    margin-top: 20px;
}

/* Main: Features */
.main-features {
    background-color: white;
    padding: 50px 0;
}

.features-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.features-contain {
    background-color: rgb(122, 193, 196);
    padding: 30px;
    width: 245px;
    border-radius: 15px;
}

h2, p {
    text-align: center;
}

.features-contain img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

/* Main: Sign-Up */
.main-signup {
    background-color: rgb(35, 74, 75);
}

.main-signup .container {
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-signup img {
    width: 250px;
}

.signup-wrapper {
    color: white;
    display: inline;
}

.signup-wrapper h2,
.signup-wrapper p {
    padding-top: 10px;
}

.signup-form {
    display: inline-block;
}

.signup-form p {
    display: inline-block;
}

input {
    width: 350px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
}

.submit-form {
    width: 100px;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border: none;
    opacity: 0.8;
}

.submit-form:hover {
    opacity: 1;
}

.btn-form {
    background-color: rgb(92, 199, 248);
    cursor: pointer;
    box-shadow: 0 2px rgb(0, 174, 255);
}

.btn-form:active {
    position: relative;
    top: 2px;
    box-shadow: none;
}

/* Footer */
footer {
    background-color: black;
    height: 150px;
    padding-top: 50px;
}

footer .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    opacity: 75%;
}

footer span {
    padding-left: 30pt;
    color: white;
    opacity: 30%;
}

footer .container .footer-logo:hover {
    opacity: 100%;
}